@use '../../styles/abstracts/variables';

.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
  height: 100vh;
  min-height: 500px;
  background-color: variables.$background-color-dark;
  z-index: 3;

  .logo {
    display: block;
    padding: 8px 0;
    background-color: #142534;

    img {
      display: block;
      margin: 8px auto;
      width: 100%;
      height: auto;

      &.SubLogo {
        width: 165px;
      }
    }
  }

  nav {
    width: 100%;
    margin-top: 120px;
    display: block;
    text-align: center;

    a {
      font-size: 22px;
      color: variables.$primary-color;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      &:hover {
        color: variables.$hover-color;
        background-color: variables.$background-color-light;
      }

      i {
        transition: all 0.3s ease-out;
      }
    }
  }
}
