html {
  font-size: 62.5%;
  height: 100%;
}

body {
  /* Reset and box model */
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: visible;
  display: block;

  /* Typography */
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;

  /* Visual appearance */
  background-color: #142534;

  /* Performance and rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (width >= 1200px) {
  body {
    overflow: visible;
  }
}
